body{
  background-color: black;
}
.profile{
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.picture{
  height: inherit;
  width: inherit;
  border: 3px solid green;
  margin-top: 10%;
}
p{
  color: green;
}
.details{
  margin: 0 auto;
}
